.product {
			height: 300px;
			width: 33%;
			border:1px solid black;
			border-radius: 5px;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			text-align: center;
		}

		ul li {
			list-style-type: none;
		}

		.title {
			text-align: center;
		}

		#prod1 {
			background-image: url("drone.gif");
			background-size: cover;
			background-repeat: no-repeat; 
		}

		#prod2 {
			background-image: url("gopro.gif");
			background-size: cover;
			background-repeat: no-repeat; 
		}

		#prod3 {
			background-image: url("beats.gif");
			background-size: cover;
			background-repeat: no-repeat; 
		}


		#cart {
			display: block;
			background-color: whitesmoke;
			font-size: 1em;
			border:1px solid salmon;
			border-radius: 5px;
			width: 33%;
			margin-left: 33%;
		}

		#cart li {
			color: black;
			font-size: 1em;
		}

		.delete {
			background-color: red;
			color: #fff;
			text-align: center !important;
		}
