<style>
		.product {
			height: 200px;
			width: 200px;
			border:1px solid black;
			border-radius: 5px;
			display: inline-block;
			vertical-align: top;
		}


		#cart {
			display: block;
			background-color: whitesmoke;
			font-size: 1em;
			border:1px solid salmon;
			border-radius: 5px;
		}

		#cart li {
			color: black;
			font-size: 1em;
		}

		.delete {
			background-color: red;
			color: #fff;
		}

	</style>