/*
    General Classes
    This section contains classes used in more than one section in the file.
    Also contains global parameters for specific elements.
*/

body, h1,
h2, p {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    overflow-x:hidden ;
}
.green {
    background-color: #2ACC77;
}

::-webkit-input-placeholder {
    color: white;
    text-align: left;
    font-family: Montserrat-Light, sans-serif;
}
:-moz-placeholder {
    color: white;
    text-align: left;
    font-family: Montserrat-Light, sans-serif;
}
::-moz-placeholder {
    color: white;
    text-align: left;
    font-family: Montserrat-Light, sans-serif;
}
:-ms-input-placeholder {
    color: white;
    text-align: left;
    font-family: Montserrat-Light, sans-serif;
}

.stripe{
    /*was used to create the layout*/
    /*border: 1px blueviolet solid;*/
}



/*
    mainImage stripe [1]
    -> This section contains the main image of the page and the name of the program

    Notes:
    Relative positioning moves an element 
    RELATIVE to its original position.
*/

.mainImage {
    background: url(../images/top_pic.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 993px;
    display: block;
    position: relative;
    top: 0;
    z-index: 1;
}

.mainImage .textBox {
    vertical-align: middle;
    padding-top: 20%;
}

.mainImage .text {
    font-family: Montserrat-Regular, sans-serif;
    margin: -10px; /*we make margin smaller than default*/
}

.mainImage .one {
    color: #FFFFFF;
    font-size: 20pt;
}

.mainImage .two {
    color: #72F5AA;
    font-size: 73pt;
}

.mainImage .three {
    color: #72F5AA;
    font-size: 24pt;
}

/*
    header stripe
    -> This section contents the menu and the ITC logo.
*/

.header {
    background-color: rgba(0,0,0,0.8);
    position: fixed; /*The element is positioned relative to the browser window*/
    top: 0;
    z-index: 2;
}

.header .headerLogo {
    width: 8%;
    height: auto;
    margin: 1% auto;
}

.header ul {
    width: 35%;
    height: auto;
    float: right;
    margin: 2.5% 12% 2% 12%;
}

.header li {
    display: inline;
    padding: 12px 20px;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 13pt;
    margin-left: 30px;
}

.header a {
    text-decoration: none;
    color: white;
}


/*
    about stripe
    -> This section contains the program details
*/

.about {
    background-color: #72F5AA;
    height: auto;
}

.about ul {
    width: 80%;
    margin: 0 auto;
    padding: 4%;
}

.about li {
    width: 20%;
    margin: 0 20px;
    display: inline-block; /*keeps li from being default block display, keeps list inline*/
    vertical-align: top; /*aligning to top of the ul*/
    color: #162524;
}

.about h1 {
    font-family: Montserrat-Light, sans-serif;
    font-size: 18pt;
    text-align: left;
    margin-bottom: 15px;
}

.about p {
    font-family: Montserrat-Hairline, sans-serif;
    font-size: 12pt;
    text-align: left;
}



/*
    highlights stripe
    -> This section contains the program highlights.
*/

.highlights {
    background: url(../images/icons_bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 409px;
    /*display: table;*/
}

.highlights ul {
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    padding: 4%;
}

.highlights li {
    display: inline-block;
    vertical-align: top;
    width: 23.5%;
    color: #1CACE2;
}

.highlights h1 {
    font-family: Montserrat-Light, sans-serif;
    font-size: 55pt;
    margin-bottom: 10px;
}

.highlights p {
    font-family: Montserrat-Light, sans-serif;
    font-size: 11pt;
}



/*
    weeksSyllabus stripe
    This section contains the weekly syllabus of the program.
*/

.weeksSyllabus {
    background-color: #1CACE2;
    color: white;
}

.weeksSyllabus h1 {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 13pt;
    padding: 35px 0;
}

.weeksSyllabus h2 {
    font-family: Montserrat-Light, sans-serif;
    font-size: 28pt;
    color: #72F5AA;
    display: inline-block;
}

.weeksSyllabus .subtitle {
    font-family: Montserrat-SemiBold, sans-serif;
    display: inline-block;
    font-size: 10pt;
}

.weeksSyllabus p {
    font-family: Montserrat-Light, sans-serif;
    display: inline-block;
    font-size: 10pt;
    text-align: left;
    padding: 10px;
}

.weeksSyllabus ul {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    list-style: none;
}

.weeksSyllabus li {
    text-align: left;
    padding: 5px 10px;
    margin: 0 3.5%;
}

.weeksSyllabus li.one {
    width: 13.5%;
    background-color: #4AC0EC;
}

.weeksSyllabus li.two {
    width: 26.5%;
    background-color: #55C2E9;
}

.weeksSyllabus li.three {
    width: 41.5%;
    background-color: #61C2E7;
}

.weeksSyllabus li.four {
    width: 56.5%;
    background-color: #77D0F1;
}

.weeksSyllabus li.five {
    width: 73.5%;
    background-color: #82CEEB;
}

.weeksSyllabus li.six {
    width: 90.5%;
    background-color: #8ED6F1;
}



/*
    media stripe
    This section contains images.
*/

.media {

}
.media .imageHolder{
    width: 80%;
    margin: 0 10% 3% 10%; /*explain top right bottom left to students*/
}

.media h1 {
    margin: 5% auto 3% auto;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 13pt;
}

.media img {
    width: 20%;
    height: auto;
}



/*
    footer stripe
    This section contains the footer of the page.
*/

.footer {
    background-color: rgb(43, 42, 42);
}

.footer h1 {
    margin: 5% auto 2% auto;
    padding: 30px 0 10px 0;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 21pt;
    color: #72F5AA;
}

.footer ul {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-decoration: none;
}

.footer li {
    display: inline-block;
    padding: 0 30px;
}

.footer .button {
    padding: 10px 20px;
    font-family: Montserrat-SemiBold, sans-serif;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer input {
    border: 0;
    border-bottom: 2px solid #72F5AA;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.footer .jafilogo {
    width: 20%;
    height: auto;
    margin: 1% 12%;
    float: right;
}

.footer ul.social {
    width: 100%;
    margin-top: 30px;
}
.social img{
    width: 20px;
}

.footer ul.social li {
    padding: 10px;
}